<mat-toolbar color="primary" class="header-toolbar">
    <span class="logo">Nirali's Portfolio</span>
    <span class="spacer"></span>
    <nav>
      <a href="/">Home</a>
      <a href="#about">About</a>
      <a href="#projects">Projects</a>
      <a href="#skills">Skills</a>
      <a href="#certificates">Certificates</a>
      <a href="#education">Education</a>
      <a href="#contact">Contact</a>
    </nav>
</mat-toolbar>
  
<div class="home-section" style="background-image: url('assets/images/background-img.webp');">
    <div class="content">
      <img mat-card-image src="assets/images/profile.png" alt="Profile Picture" class="profile-image"/>
      <h1>Nirali Thakur</h1>
      <p class="subtitle">Web Developer | Passionate about building responsive and user-friendly applications</p>
      <div class="buttons">
        <a mat-raised-button color="accent" href="https://drive.google.com/file/d/1CyiTh4PbgLxj2KrpRuXTYROkzfPs5oey/view?usp=sharing" target="_blank">Download CV</a>
      </div>
      <div class="social-icons">
        <a href="https://github.com/NiraliThakur" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/nirali-thakur-b7772b219" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:niralithakur2000@gmail.com" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
      </div>    
    </div>
</div>