<section class="about-container" id="about">
    <mat-card>
      <mat-card-header>
        <mat-card-title>About Me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            A web developer passionate about creating dynamic, user-friendly web applications and solving real-world problems through technology.
          </li>
          <li>
            I graduated in Civil Engineering from Nagpur University later transitioned into IT with a focus on web development.
          </li>
          <li>
            Proficient in Python, Django, JavaScript, MySQL, and Django rest framework.
          </li>
          <li>
            Completed a full-stack web developer internship at Info-Origin.
          </li>
          <li>
            Worked on projects, including a pizza ordering platform, showcasing problem-solving and development skills.
          </li>
          <li>
            Aspiring to become a skilled software developer, continuously learn new technologies, and contribute to innovative and impactful projects.
          </li>  
        </ul>
    
      </mat-card-content>
    </mat-card>
</section> 